<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>0.1</integer>
	<key>Extension Name</key>
	<string>Goodreads</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.goodreads</string>
	<key>Extension Description</key>
	<string>Search for selected book on Goodreads</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://www.goodreads.com/search?utf8=%E2%9C%93&query={popclip text}</string>
			<key>Image File</key>
			<string>GoodreadsIcon.png</string>
			<key>Title</key>
			<string>Goodreads</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
		</dict>
	</array>
</dict>
</plist>
